---
layout: default
title: Home
cover: "assets/images/cover.jpg"
cover_credits: >
  Photo by <a href="https://unsplash.com/photos/fphpSh9KBXE?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" rel="nofollow">Dave Michuda</a> on <a href="https://unsplash.com/search/photos/coffee?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" rel="nofollow">Unsplash</a>
---

<header class="main-header {% if page.cover %}" style="background-image: url({{ page.cover }}) {%else%}no-cover{% endif %}">
  <nav class="main-nav overlay clearfix">
    {% if page.logo %}
      <a class="blog-logo" href="{{ site.baseurl }}">
        <img src="{{ page.logo }}" alt="Blog Logo" />
      </a>
    {% endif %}
    <a class="subscribe-button icon-feed" href="{{ site.baseurl }}feed.xml">Subscribe</a>
  </nav>
  <div class="vertical">
    <div class="main-header-content inner">
      <h1 class="page-title">{{ site.name }}</h1>
      <div class="page-description">
        <a href="{{ site.baseurl }}#content" class="scroll">Articles</a>
        <a href="https://github.com/szajbus" rel="nofollow">GitHub</a>
        <a href='{{ site.baseurl }}resume.html'>Résumé</a>
      </div>
    </div>
  </div>
  <a class="scroll-down scroll icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
  {% if page.cover_credits %}
    <span class="photo-credits">{{ page.cover_credits }}</span>
  {% endif %}
</header>


<main id="content" class="content" role="main">

  <div class="extra-pagination inner">
    {% include pagination.html %}
  </div>

  {% for post in paginator.posts %}

  <article class="post">
    <header class="post-header">
      <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
    </header>
    <section class="post-excerpt">
      {{ post.excerpt }} <a class="read-more" href="{{ post.url }}">&raquo;</a>
    </section>
    <footer class="post-meta">
      <time class="post-date" datetime="{{ post.date | date:"%Y-%m-%d" }}">
        {{ post.date | date: "%b %d, %Y" }}
      </time>
      {% if post.categories.size > 0 %}
        {{ post.categories | array_to_sentence_string | prepend: 'on ' }}
      {% endif %}
    </footer>
  </article>

  {% endfor %}

  {% include pagination.html %}

</main>
