$bg-color: #fff;
$primary-color: #555;
$secondary-color: #000;
$link-color: #05c;
$target-bg-color: #ffc;
$hr-color: #ccc;
$table-border-color: #ccc;
$code-bg-color: #f8f8f8;
$code-color: #555;
$code-border-color: #e0e0e0;

$dark-bg-color: #222;
$dark-primary-color: #bbb;
$dark-secondary-color: #ddd;
$dark-link-color: #0bc;
$dark-target-bg-color: #333;
$dark-hr-color: #333;
$dark-table-border-color: #333;
$dark-code-bg-color: #272727;
$dark-code-color: #f8f8f8;
$dark-code-border-color: #555;
