@import 'variables';

:root {
  background-color: $bg-color;
  color: $primary-color;
}

html { height: 100%; }

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  line-height: 1.65;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
}

h1 {
  font-size: x-large;
}

h2, h3, h4, h5, h6 {
  margin-top: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: $secondary-color;
}

p {
  margin: 1.25rem 0;

  &.note {
    background-color: $note-bg-color;
    color: $primary-color;
    border: $code-border-color 1px solid;
    border-radius: 4px;
    padding: 1rem;
  }

  img.emoji {
    vertical-align: text-bottom;
  }
}

a {
  color: $link-color;
  text-decoration: none;

  :visited {
    color: $link-color;
  }
}

li {
  margin: 0.4rem 0;
}

*:target {
  background: $target-bg-color;
}

.wrap {
  max-width: 640px;
  margin: 0 auto;
  padding: 2rem 2rem;
}

.right {
  text-align: right;
}

nav {
  margin-bottom: 3rem;

  a {
    font-family: monospace;

    &:not(:last-child) {
      margin-right: 1rem;
    }

    &.home {
      display: block;
      font-family: monospace;
      font-weight: 600;
      font-size: xx-large;
      color: $secondary-color;

      :visited {
        color: $secondary-color;
      }
    }
  }
}

hr {
  margin: 3rem auto 1rem auto;
  text-align: center;
  width: 100%;
  border: 1px 0 0 0 solid $hr-color;
}

table {
  width: 100%;
}

table, th, td {
  border: thin solid $table-border-color;
  border-collapse: collapse;
  padding: 0.4rem;
}

code {
  padding: 1px 3px;
  font-family: monospace;
  font-size: 0.85em;
  white-space: pre-wrap;
  background: $code-bg-color;
  color: $code-color;
  border: $code-border-color 1px solid;
  border-radius: 4px;
  font-feature-settings: 'liga' 0, 'onum' 1, 'kern' 1;
  font-variant-ligatures: none;
}

div.highlighter-rouge code {
  display: block;
  overflow-x: auto;
  white-space: pre-wrap;
  padding: 1rem;
}

blockquote {
  box-sizing: border-box;
  font-style: italic;
  border-left: 0.3em solid #4a4a4a;
  margin: 1.75em 0 1.75em 0;
  padding: 0 0 0 1.75em;

  p {
    margin: 0;
  }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;

  &.emoji {
    display: inline;
  }
}

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
  padding-left: 0;
}

ul.articles {
  list-style: none;

  li {
    margin-bottom: 2rem;

    a {
      display: block;
    }

    span {
      font-size: smaller;
    }

    p {
      margin-top: 0.5rem;
    }
  }
}

article {
  ol {
    list-style: decimal;
    padding-left: 24px;
  }

  ul {
    list-style: disc;
    padding-left: 24px;
  }
}

.resume {
  header {
    position: relative;

    .photo {
      border-radius: 45px;
      width: 90px;
      height: 90px;
      margin: 0.375rem 0;
      position: absolute;
      top: -26px;
      right: 20px;
    }
  }

  h2 {
    margin: 5rem 0 0 0;
  }

  h4 {
    margin: 1.5rem 0 0 0;
  }

  ul {
    list-style: none;
    padding-left: 0;

    &.jobs {
      li:not(:last-child) {
        border-bottom: 1px solid $hr-color;
      }
    }
  }

  .company, .school {
    font-style: italic;
  }

  .meta {
    font-size: smaller;
  }
}

footer.page-footnote {
  margin-top: 4rem;
  text-align: center;
  font-size: smaller;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: $dark-bg-color;
    color: $dark-primary-color;
  }

  h1, h2, h3, h4, h5, h6 {
    color: $dark-secondary-color;
  }

  p {
    color: $dark-primary-color;

    &.note {
      background-color: $dark-note-bg-color;
      color: $dark-primary-color;
      border: $dark-code-border-color 1px solid;
    }
  }

  a {
    color: $dark-link-color;

    :visited {
      color: $dark-link-color;
    }
  }

  nav {
    a {
      &.home {
        color: $dark-secondary-color;

        :visited {
          color: $dark-secondary-color;
        }
      }
    }
  }

  code {
    background: $dark-code-bg-color;
    color: $dark-code-color;
    border-color: $dark-code-border-color;
  }

  hr {
    border-color: $dark-hr-color;
  }

  table, th, td {
    border-color: $dark-table-border-color
  }

  *:target {
    background: $dark-target-bg-color;

    code {
      background: $dark-code-bg-color;
      color: $code-color;
    }
  }
}
