<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Michał Szajbe - Résumé</title>
    <link href='https://fonts.googleapis.com/css?family=Play&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="assets/css/main.css" media="screen, print">
    <link rel="stylesheet" href="assets/css/screen.css" media="screen, print">
    <link rel="stylesheet" href="assets/css/resume/styles.css" media="screen, print">
    <meta name="description" content="{{ page.description }}">
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
    {% include analytics.html %}
  </head>
  <body>

    {{ content }}

    <div class="col-12 center footer hidden-print">
      &copy; 2018 Michał Szajbe
    </div>

    <div class="col-12 center footer hidden-print">
      <a href="/assets/Michal%20Szajbe%20-%20Resume.pdf">download in pdf</a>
    </div>

    <!-- Google Analytics Tracking code -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ site.google_analytics }}']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>
